<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election</title>
</head>
<body>
    <h1>Election</h1>

    {% for candidate in candidates %}
    <div>
        <strong>{{ candidate.name }} | ผลคะแนนเสียง :  {{ candidate.votes }}</strong><br>
        
        <form action="{% url 'election:vote' candidate.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">ลงคะแนนเสียง</button>
        </form>
    </div>
    <hr style="margin-bottom: 20px;">
    {% endfor %}
</body>
</html>